.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}
body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    height: 100px;
    background-color: rgb(127, 255, 127);
    width: 100px;
    border-radius: 35px;
    font-weight: bolder;
}
#rock {
    background-color: rgb(110, 94, 94);
}
#paper {
    background-color: rgb(186, 186, 199);
}
#scissors {
    background-color: rgb(41, 172, 172);
}
.pane {
    height: 100px;
    background-color: rgb(236, 221, 221);
    font-size: large;
    text-align: center;
}